In [1]:
import pandas as pd
import numbers as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("E:\Girish Documents\Study\Data Science\DataScience_ML_Study\ML_Study_LinearRegression\Multiple_Linear_Regression_Hiring.csv")

In [3]:
df.head(15)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [5]:
%pip install word2number

Defaulting to user installation because normal site-packages is not writeable
Collecting word2number
  Using cached word2number-1.1.zip (9.7 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (pyproject.toml): started
  Building wheel for word2number (pyproject.toml): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5589 sha256=df8dcedffc1956c5093944d92b939473cd9cc1798c5493cc5010f6e798323230
  Stored in directory: c:\users\sawoo\appdata\local\pip\cache\wheels\cd\ef\ae\073b491b14d25e2efafcffca9e16b2ee6d114ec5c643ba4f06
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
df.experience = df.experience.fillna('zero')

In [5]:
df.head(15)

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [6]:
from word2number import w2n

In [7]:
df['experience'] = df['experience'].apply(lambda x: w2n.word_to_num(x))

In [9]:
df.head(15)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0                    8.0                           9      50000
1           0                    8.0                           6      45000
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
6          10                    NaN                           7      72000
7          11                    7.0                           8      80000

In [15]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)	']], df['salary($)'])

KeyError: "['interview_score(out of 10)\\t'] not in index"

In [16]:
df['Test_score'] = df['test_score(out of 10)']
df['Interview_score'] = df['interview_score(out of 10)']
df['Salary'] = df['salary($)']

In [17]:
df.head(15)

,experience,test_score(out of 10),interview_score(out of 10),salary($),Test_score,Interview_score,Salary
0,0,8.0,9,50000,8.0,9,50000
1,0,8.0,6,45000,8.0,6,45000
2,5,6.0,7,60000,6.0,7,60000
3,2,10.0,10,65000,10.0,10,65000
4,7,9.0,6,70000,9.0,6,70000
5,3,7.0,10,62000,7.0,10,62000
6,10,NaN,7,72000,NaN,7,72000
7,11,7.0,8,80000,7.0,8,80000

In [18]:
df.drop(columns=['test_score(out of 10)','interview_score(out of 10)','salary($)'],inplace=True)

In [19]:
df.head(15)

   experience  Test_score  Interview_score  Salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         NaN                7   72000
7          11         7.0                8   80000

In [21]:
import math

df_test_score_median = math.floor(df.Test_score.median())
print(df_test_score_median)

8

In [22]:
df.Test_score = df.Test_score.fillna(df_test_score_median)

In [23]:
df.head(15)

   experience  Test_score  Interview_score  Salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [24]:
reg = linear_model.LinearRegression()
reg.fit(df[['experience','Test_score','Interview_score']], df.Salary)

LinearRegression()

In [25]:
reg.predict([[2,9,6]])

C:\Users\sawoo\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([53205.96797671])

In [29]:
m = reg.coef_
m

array([2812.95487627, 1845.70596798, 2205.24017467])

In [30]:
c = reg.intercept_
c

17737.263464337688

In [33]:
#y = m1*x + m2*x + m3*x

y = m[0] * 2 + m[1] * 9 + m[2] * 6 + c
y

53205.96797671033